RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_URI} !^(/(index.php(\/)?)?)$
RewriteCond %{REQUEST_URI} !^(/contacts.*)$
RewriteCond %{REQUEST_URI} !^(/css/.*)$
RewriteCond %{REQUEST_URI} !^(/js/.*)$
RewriteRule ^ 404.php
