RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_URI} ^/articles(/(index.php(/)?)?)?$
RewriteRule ^/(articles)  $1/index.php [L]

RewriteCond %{REQUEST_URI} ^/articles/[^\/]+(/(index.php(/)?)?)?$
RewriteRule ^/(articles/)([^\/]+) $1section.php/?category=$2 [L]

RewriteCond %{REQUEST_URI} ^/articles/[^\/]+/[^\/]+(/(index.php(/)?)?)?$
RewriteRule ^/(articles/)([^\/]+)/([^\/]+) $1detail.php/?category=$2&article=$3 [L]

RewriteCond %{REQUEST_URI} !^(/(index.php(\/)?)?)$|^(/contacts.*)$|^(/articles.*)$
RewriteRule ^ 404.php
